@import "tailwindcss";

@theme inline {
  --animate-marquee: marquee 12s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer base {
  html,
  body {
    @apply font-sans bg-neutral-50 text-neutral-900 antialiased;
  }
  a {
    @apply text-inherit underline;
  }
}
